<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>ProvaDeVida</string>
  <key>CFBundleName</key>
  <string>ProvaDeVida</string>
  <key>CFBundleIdentifier</key>
  <string>com.hkzam.provadevida</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>MinimumOSVersion</key>
  <string>8.0</string>
  <key>UIDeviceFamily</key>
  <array>
    <integer>1</integer>
    <integer>2</integer>
  </array>
  <key>UILaunchStoryboardName</key>
  <string>LaunchScreen</string>
  <key>UIRequiredDeviceCapabilities</key>
  <array>
    <string>armv7</string>
  </array>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>UISupportedInterfaceOrientations~ipad</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationPortraitUpsideDown</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>XSAppIconAssets</key>
  <string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9900a9ffe0a9f7df7aea242d2aa3bee673dfbe57</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>WWez3qdQTeRpznFvqlIJzaUbr</string>
					<key>consumerSecret</key>
					<string>XPitCbheI9h9UOYydv9TiJiehz5u0GxZ2RaAwvxMDbFNOUajwg</string>
				</dict>
				<key>KitName</key>
				<string>Digits</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
